<button (click)="function()">Click me</button>

<!--If Control Flow-->

<!--Old-->
<div *ngIf="a > b">
  <p>{{ a }} is bigger than {{ b }}</p>
</div>

<!--New-->
@if (a > b) {
  <div>
    <p>{{ a }} is bigger than {{ b }}</p>
  </div>
}

<!--For Control Flow-->

<!--Old-->
<div *ngFor="let streamingService of streamingServices">
  {{ streamingService }}
</div>
<br>

<!--New-->
<!--Track je v tomto zápise potrebný, pretože Angular team zistil, že veľa z performance issues, ktoré appky majú, sú príčinou chýbajúcej trackBy funkcie-->
@for (streamingService of streamingServices; track streamingService) {
  <li>{{ streamingService }}</li>
} @empty {
  <li>No Streaming Service available</li>
}

<h2>Football</h2>
<!--Switch Control Flow-->

<!--Old-->
<div [ngSwitch]="elClasicoWinner">
  <div *ngSwitchCase="'FC Barca'">{{ elClasicoWinner }}</div>
  <div *ngSwitchCase="'Real Madrid'"> {{ elClasicoWinner }}</div>
  <div *ngSwitchDefault>Remiza My Friend</div>
</div>
<br>

<!--New-->
@switch (elClasicoWinner) {
  @case ('FC Barca') {
    FC Barca
  }
  @case ('Real Madrid') {
    Real Madrid
  }
  @default {
    Remíza My Friend
  }
}
