<h1>Signals</h1>
<button (click)="function()">Change Signal</button>
<button (click)="incrementCount()">Increment the count</button>
<div>
  Example Signal: <b>{{ exampleSignal() }}</b>
</div>
<div>
  Count: <b>{{ count() }}</b>
</div>
<div>
  Double Count: <b>{{ doubleCount() }}</b>
</div>
<h1>History</h1>
